.jumbotron {
  background-color:rgb(72, 61, 139);
  color: rgb(0, 0, 0);
  margin-top: 50px;
}


.btn {
 background-color: rgb(245, 240, 239); 
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;

}

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;

}

footer {
  padding: 10px 10px 0 10px;
  background-color: rgb(62, 193, 216);
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-address-icon {
  padding-right: 10px;
}

.bi-cursor-fill {
margin-right:  8px;
}
.tab-content {
  padding-top:10px
}